body {
    padding:0;
    margin:auto;
    box-sizing:border-box;
    max-width:1100px;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    background-color:#001379;
    overflow:hidden;
    cursor:none;
}

#cursor-circle{
    min-height:150px;
    min-width:150px;
    border-radius:50%;
    border:5px solid #FFF8F2;
    background-color: #FFF8F2;
    position:fixed;
    top:50px;  
    transform:translate(-50%,-50%);
}

.line{
    width:1150px;
    height:2px;
    background-color:#FFF8F2;
    position:absolute;
    top:25px;
    z-index:-1;
}
.grid{
    display:grid;
    grid-template-columns: 18% 40%;
    grid-template-rows:400px 400px;
    gap:65px;
}

#titles{
    text-align:left;
    font-size:16px;
    position:relative;
    top:40px;
    font-size:10px;
    color:#FFF8F2;
}

.circle{
    height:150px;
    width:150px;
    border-radius:50%;
    background-image: linear-gradient(#ffb384, white);    
    position:relative;
    top:20px;
    z-index:1;
}

.external_text{
    color:#001379;
}

.scrolltext{
    position:relative;
    top:50px;
    text-align:center;
    width:90px;
    left:30px;
    font-style: italic;
}

#speakers{
    line-height:1.5em;   
    gap:15%;
    row-gap:5px;
    position:relative;
    z-index:1;
    top:40px;
    font-size:10px;
    color:#001379;
    width:400px;
    display:grid;
    grid-template-columns: 95% 95% 1%;

}

#letterA{
    font-family:'standard';
    font-size:100px;
    color:#FFF8F2;
    position:absolute;
    z-index:-1;
    top: 36px;
    left: 149px;
}

#letterM{
    font-family:'standard';
    font-size:100px;
    color:#FFF8F2;
    position:absolute;
    z-index:-1;
    top: 36px;
    left:625px;
}

#letterE{
    font-family:'standard';
    font-size:100px;
    color:#FFF8F2;
    position:absolute;
    z-index:-1;
    top: 295px;
    left: 149px;
}

#letterS{
    font-family:'standard';
    font-size:100px;
    color:#FFF8F2;
    position:absolute;
    z-index:-1;
    top: 295px;
    left:645px;
}