body {
    padding:0;
    margin:auto;
    box-sizing:border-box;
    max-width: 90%;
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
    background-color:#FFF8F2;
    cursor:none;
}

#cursor-circle{
    min-height:10px;
    min-width:10px;
    border-radius:50%;
    border:5px solid #001379;
    background-color: #001379;
    position:fixed; 
    z-index:-1;
    transform:translate(-50%,-50%);
}

.scrolltext{
    position:relative;
    top:50px;
    text-align:center;
    width:90px;
    left:30px;
    font-style: italic;
    color:#001379;
}

.line{
    width:1090px;
    height:1px;
    background-color:#FFF8F2;
    position:absolute;
    top:25px;
    left:35px;
    z-index:1;
}

.grid{
    display: grid;
    grid-template-columns: 17% 0% 0%;
    grid-template-rows: 50% 90%;
    gap: 40px;
}

#titles{
    text-align: left;
    font-size: 10px;
    position: relative;
    top: 40px;
    left: 45px;
    color: #FFF8F2;
    z-index: 1;
    
}

.changec{
    width:100px;
    height:100px;
    border-radius: 50%;
    background-image:linear-gradient(blue,black);
    position:absolute;
    left:80px;
    top:160px;
}

.circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border:1.5px solid #FFF8F2;
    background-color:#001379;
    position:fixed;
    transition:0.2s;
    z-index: 1;
    left:20px;
    cursor:pointer;
}
.circle:hover {
    width: 35px; /* Increase size by 5px */
    height: 35px;
}
#circle1{
    top:65px;   
}
#circle2{
    top:115px;
}
#circle3{
    top:165px;
}
#circle4{
    top:215px;
}
#circle5{
    top:265px;
}

#speakers{
    line-height:1.6em;   
    gap:15%;
    row-gap:5px;
    position:relative;
    z-index:1;
    top:40px;
    font-size:12px;
    color:#FFF8F2;
    width:400px;
    display:grid;
    grid-template-columns:90%90%1%;

}

.external_links{
    cursor: pointer; 
}

#letterA{
    font-family:'standard';
    font-size:90px;
    color:#001379;
    position:absolute;
    z-index:-1;
    top:50px;
    left: 149px;
}

#letterM{
    font-family:'standard';
    font-size:90px;
    color:#001379;
    position:absolute;
    z-index:-1;
    top: 50px;
    left:610px;
}

#letterE{
    font-family:'standard';
    font-size:90px;
    color:#001379;
    position:absolute;
    z-index:-1;
    top:390px;
    left: 149px;
}

#letterS{
    font-family:'standard';
    font-size:90px;
    color:#001379;
    position:absolute;
    z-index:-1;
    top: 390px;
    left:610px;
}

@media (max-width:900px){
    body{
        overflow:scroll;
        cursor:auto;
    }
    .external_links{
        color: #001379;
        background-color: #001379;
    }

    .grid{
        display:grid;
        grid-template-columns:17% 0% 0%;
        margin:auto;
    }
  
    #cursor-circle{
        min-width:10px;
        min-height:10px;
        border-radius:50%;
        color:#001379;
    }
    #speakers{
        line-height:1.5em;   
        font-size:12px;
        color:#001379;
        max-width:400px;
        display:grid;
        grid-template-columns:100%;
    }
    .circle{
        height:10px;
        width:10px;
        border-radius: 50%;
        background-color:#FFF8F2;
        position:absolute;
        transition:0.2s;
        z-index: 1;
    }
    #circle1{
        left:0px;
        top:25px;
    }
    #circle2{
        left:30px;
        top:25px;
    }
    #circle3{
        left:60px;
        top:25px;
    }

    #circle4{
        left:90px;
        top:25px;

    }
    #circle5{
        left:120px;
        top:25px;

    }
    .line{
        background-color: #001379;
        position: absolute;
        top:20px;
        max-width:800px;
        left:0px;
    }
    .scrolltext{
        margin:auto;
        text-align:center;
        left:0px;
    }

    #titles{
        text-align:center;
        color:#001379;
        width:170px;
        font-size:9px;
        top:40px;
        left:-8px;
    }

    #letterA{
        color:#FFF8F2;
        position:absolute;
        z-index:-1;
    }

    #letterM{
        color:#FFF8F2;
        position:absolute;
        z-index:-1;
    }
    
    #letterE{
        color:#FFF8F2;
        position:absolute;
        z-index:-1;
    }
    
    #letterS{
        color:#FFF8F2;
        position:absolute;
        z-index:-1;

    }

    .changec{
        top:160px;
        left:30px;
        transition:0.2s;
    }
}

@media (max-width:600px){
    body{
        overflow:scroll;
        cursor:auto;
    }

    .external_links{
        color: #001379;
        background-color: #001379;
    }
    .line{
        color:#001379;
    }
    .grid{
        display:grid;
        grid-template-columns:repeat(1,1fr);
        margin:auto;   
        gap:10px;
    }
    .info{
        margin:auto;
    }
    #speakers{
        line-height:1.5em;   
        font-size:12px;
        color:#001379;
        max-width:400px;
        display:grid;
        grid-template-columns:repeat(1,1fr);;
        margin-left:5px;
    }
    .changec{
        width:40px;
        height:40px;
        position:absolute;
       left:175px;
       top:150px;
       transition:0.2s;
       z-index:10;
    }

    .scrolltext{
        margin:auto;
        text-align:center;
        left:0px;
    }

    #titles{
        text-align:center;
        margin:auto;
        max-width:170px;
        color:#001379;

    }

    #letterA{
        color:#FFF8F2;
        position:absolute;
        z-index:-1;
    }

    #letterM{
        color:#FFF8F2;
        position:absolute;
        z-index:-1;
    }
    
    #letterE{
        color:#FFF8F2;
        position:absolute;
        z-index:-1;
    }
    
    #letterS{
        color:#FFF8F2;
        position:absolute;
        z-index:-1;

    }

}
