body {
    padding:0;
    margin:auto;
    box-sizing:border-box;
    max-width: 90%;
    position:relative;
    background-color:#FFF8F2;
    cursor:none;
}

@font-face {
    font-family: "Times Dot";
    src: url(fonts/TimesDotRom.otf)
  }

#cursor-circle{
    min-height:15px;
    min-width:15px;
    border-radius:50%;
    background-color: #001379;
    position:fixed; 
    z-index:-1;
    transform:translate(-50%,-50%);
}

.line{
    width:100%;
    height:2px;
    background-color:#FFF8F2;
    position:absolute;
    top:4%;
    left:4%;
    z-index:1;
}

.grid{
    display: grid;
    grid-template-columns: 17% 0% 0%;
    grid-template-rows: 50% 90%;
    gap:4%;
}

#titles{
    text-align: left;
    font-size: 10px;
    position: relative;
    top: 6%;
    left:25%;
    color: #FFF8F2;
    z-index: 1;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 700;
    font-style: normal;
    
}

.changec{
    width:100px;
    height:100px;
    border-radius: 50%;
    background-image:linear-gradient(blue,black);
    position:absolute;
    left:7%;
    top:11%;
    cursor:pointer;
    z-index: 1;

}

.circle{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border:2px solid #FFF8F2;
    background-color:#001379;
    position:fixed;
    transition:0.2s;
    z-index: 1;
    left:2%;
    cursor:pointer;
}
.circle:hover {
    width: 40px; /* Increase size by 10px */
    height: 40px;
    transition:0.2s;
}

#circle1{
    top:10%;   
}
#circle2{
    top:20%;
}
#circle3{
    top:30%;
}
#circle4{
    top:40%;
}
#circle5{
    top:50%;
}

#speakers{
    line-height: 1.7em;
    gap: 40%;
    row-gap: 10%;
    position: relative;
    z-index: 1;
    top: 5%;
    font-size: 14px;
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFF8F2;
    width: 450px;
    display: grid;
    grid-template-columns: 100% 100%;

}


/*images*/
.image-container {
    position: relative;
    width: 200px; /* Set initial width */
    transition: width 0.3s; /* Smooth transition */
    cursor:pointer;
  }
  
  .image-container img {
    display: block;
    width: 100%;
    height: auto;
  }

  /* Hover effect */
  .image-container:hover {
    width: 250px; /* Increase width by 50px */
  }

  .image-container2 {
    position: relative;
    width: 100px; /* Set initial width */
    transition: width 0.3s; /* Smooth transition */
    cursor:pointer;
  }
  
  .image-container2 img {
    display: block;
    width: 100%;
    height: auto;
  }

  /* Hover effect */
  .image-container2:hover {
    width: 125px; /* Increase width by 50px */
  }

#a-img{
    top:-30%;
    left:105%;
}
#a-img2{
    top:-50%;
    left:155%;

}#a-img3{
    top:-50%;
    left:155%;
}

#em-img{
    left:-50%;
    top:-52%;
}
#em-img2{
    left:-80%;
    top:-70%;
}
#em-img3{
    left:-28%;
    top:-57%;
}
#er-img{
    left:-50%;
    top:-46.5%;
}

#er-img2{
    left:-60%;
    top:-40%
}

#s-img{
    left:105%;
    top:-41.2%;
}
#s-img2{
    left:105%;
    top:-35%;
}
/*position of paragraphs*/
#anther_kiley{
    position: relative;
    top: 2%;
    left:20%;
}
#takahashi_kuan{
    position: relative;
    top: 100%;
    left:-45%;
}

#e_roon_kang{
    position: relative;
  left: -90%;
  top: 120%;
}

#sebastian_aubin{
    position: relative;
  top: 160%;
  left:-40%;
}

.external_links{
    cursor: pointer; 
}

.letter {
    font-family: "Times Dot";
    font-size:90px;
    color:#001379;
    position:absolute;
    z-index:-1;
}

#letterA{
    top:4%;
    left:47%;
}

#letterM{
    top:4%;
    left:110%;
}

#letterE{
    top:20%;
    left:47%;
}

#letterS{
    top:20%;
    left:110%;
}

@media (max-width:900px){
    body{
        overflow:scroll;
        cursor:auto;
    }
    .external_links{
        color: #001379;
        background-color: #001379;
    }

    .grid{
        display:grid;
        grid-template-columns:17% 0% 0%;
        margin:auto;
    }
    .image-container {
        position: relative;
        width: 100px; /* Set initial width */
        transition: width 0.3s; /* Smooth transition */
        cursor:pointer;
        top:0;
      }
    .image-container2{
        display:none;
    }
    #anther_kiley{
        position: relative;
        top: -14%;
    }
    #takahashi_kuan{
        position: relative;
        left:20%;
        top: -40%;
    }
    #e_roon_kang{
        position: relative;
      top: -120%;
      left:20%;
    }
    #sebastian_aubin{
        position: relative;
      top: -170%;
      left:20%;
    }
    #cursor-circle{
        min-width:10px;
        min-height:10px;
        border-radius:50%;
        color:#001379;
    }
    #speakers{
        line-height:1.5em;   
        font-size:12px;
        color:#001379;
        max-width:400px;
        display:grid;
        grid-template-columns:100%;
    }
    .circle{
    display:none;
    transition:0.2s
    }

    .line{
        background-color: #001379;
        position: absolute;
        top:20px;
        max-width:100%;
        left:0px;
    }
    .scrolltext{
        margin:auto;
        text-align:center;
        left:0px;
    }

    #titles{
        text-align:center;
        color:#001379;
        width:170px;
        font-size:9px;
        top:40px;
        left:-8px;
    }

    #letterA,
    #letterM,
    #letterE,
    #letterS{
        display:none
    }

    .changec{
        top:160px;
        left:30px;
        transition:0.2s;
    }
}

@media (max-width:600px){
    body{
        overflow:scroll;
        cursor:auto;
    }

    .external_links{
        color: #001379;
        background-color: #001379;
    }
    .line{
        color:#001379;
        max-width:100%;
    }
    .grid{
        display:grid;
        grid-template-columns:repeat(1,1fr);
        margin:auto;   
        gap:10px;
    }
    .info{
        margin:auto;
    }
    #speakers{
        line-height:1.5em;   
        font-size:12px;
        color:#001379;
        max-width:400px;
        display:grid;
        grid-template-columns:repeat(1,1fr);;
        margin-left:-80px;
    }
    .changec{
        width:40px;
        height:40px;
        position:absolute;
       left:175px;
       top:150px;
       transition:0.2s;
       z-index:10;
    }

    .scrolltext{
        margin:auto;
        text-align:center;
        left:0px;
    }

    #titles{
        text-align:center;
        margin:auto;
        max-width:170px;
        color:#001379;

    }

    #letterA,
    #letterM,
    #letterE,
    #letterS{
        display:none
    }


}
